#atl-wrapper
	#atl-header
		span People
	#atl-search
		include images/search.svg
		span.search
			input.search(type="text", name="search", placeholder="Search someone ...")
	include me
	#atl-list-wrap
		ul#atl-list.list
